*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

# Ignore build files
dist/

# Ignore memory db file
server/db.json

# Vendor files
bower_components/
vendor/

# Temp directories
temp/
test/tmp
test/temp

# Other temp
.sass-cache
.grunt
