/* Common imports */
@import "dialogs/_mixins";
@import "dialogs/dialogs";

/* Module specific */
@import "auth/auth";
@import "app/lists";
@import "chat/chat";

.md-button > ng-md-icon {
  position: relative;
  top: 6px;
}

.md-toolbar-tools {
  .md-button.md-icon-button > ng-md-icon {
    fill: white;
  }
}
