<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="main-sidenav-left" md-is-locked-open="true">
    <md-toolbar class="md-tall md-hue-2" layout-padding>
      <h1>Welcome</h1>
    </md-toolbar>

    <md-list id="rooms-list" flex>
      <div layout="row" layout-align="space-between start" id="rooms-list-header">
        <md-subheader>Rooms</md-subheader>
        <md-button ng-hide="vm.progress.rooms" ng-click="vm.triggerCreateRoomDialog($event);"><md-icon md-font-icon="fa-plus" class="fa"></md-icon></md-button>
      </div>
      <md-progress-linear ng-show="vm.progress.rooms" md-mode="indeterminate" layout-padding></md-progress-linear>
      <md-list-item ng-repeat="room in vm.rooms" class="md-body-1" ng-click="vm.noop()">
        <p class="md-primary">{{room.name}}</p>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <md-subheader>Buddies</md-subheader>
    </md-list>
  </md-sidenav>

  <div layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>{{vm.$state.current.data.title}}</h3>
      </div>
    </md-toolbar>
  </div>
</div>
