<div layout="row" flex>

  <!-- Left (main) Sidenav -->

  <md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z3" md-component-id="sidenav-left" md-is-locked-open="vm.$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2" id="user-toolbar" layout-padding>
      <img class="toolbar-background" ng-src="{{vm.user.avatar}}?d=identicon&s=350&f=y" alt=""/> <span flex></span>

      <div class="md-toolbar-tools">
        <h1>{{vm.user.username}}</h1>
      </div>
    </md-toolbar>

    <!-- Rooms List -->

    <md-list id="rooms-list" flex ng-controller="chatback.app.SidenavRoomsCtrl as roomsVm">
      <div layout="row" layout-align="space-between start" id="rooms-list-header">
        <md-subheader>Rooms</md-subheader>
        <md-button class="md-icon-button" ng-hide="roomsVm.progress.rooms" ng-click="roomsVm.triggerCreateRoomDialog($event);">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
      </div>
      <md-progress-linear ng-show="sideRoomVm.progress.rooms" md-mode="indeterminate" layout-padding></md-progress-linear>
      <md-list-item ng-repeat="room in roomsVm.rooms" class="md-body-1" ng-click="roomsVm.join(room)">
        <p class="md-primary">{{room.name}}</p>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>

    <!-- Buddy List-->

    <md-list id="buddy-list" ng-controller="chatback.app.SidenavFriendsCtrl as friendsVm">
      <md-subheader>Buddies</md-subheader>
      <md-list-item ng-repeat="friend in friendsVm.friends" layout-margin>
        <img class="md-avatar" ng-src="{{friend.user.avatar}}?d=wavatar" alt=""/>

        <div ng-switch="friend.status" style="width: 100%;">
          <div ng-switch-when="0" layout="row" layout-align="space-between center">
            <p><strong>{{friend.user.username}}</strong> <br/> <span class="md-caption">wants to add you</span></p>

            <div layout="row">
              <md-button class="md-icon-button" ng-click="friendsVm.remove(friend);">
                <ng-md-icon icon="close"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="friendsVm.accept(friend);">
                <ng-md-icon icon="check"></ng-md-icon>
              </md-button>
            </div>
          </div>

          <div ng-switch-when="1" layout="row" layout-align="space-between center">
            <p>{{friend.user.username}}</p>

            <md-menu>
              <md-button class="md-icon-button" ng-click="friendsVm.openFriendMenu($mdOpenMenu, $event);">
                <ng-md-icon md-menu-origin icon="more_vert"></ng-md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="friendsVm.remove(friend);">Remove</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>

      </md-list-item>
    </md-list>
  </md-sidenav>

  <!-- Main view -->
  <div layout="column" flex>
    <md-toolbar class="md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-md ng-click="vm.toggleMainSidenav();">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3>{{vm.$state.current.data.title}}</h3>
      </div>
    </md-toolbar>

    <ui-view layout="column" flex></ui-view>
  </div>
</div>
