<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z4" md-component-id="sidenav-left" md-is-locked-open="vm.$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2" layout-padding>
      <span flex></span>
      <div class="md-toolbar-tools">
        <h1>{{vm.user.username}}</h1>
      </div>
    </md-toolbar>

    <md-list id="rooms-list" flex>
      <div layout="row" layout-align="space-between start" id="rooms-list-header">
        <md-subheader>Rooms</md-subheader>
        <md-button class="md-icon-button" ng-hide="vm.progress.rooms" ng-click="vm.triggerCreateRoomDialog($event);">
          <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
      </div>
      <md-progress-linear ng-show="vm.progress.rooms" md-mode="indeterminate" layout-padding></md-progress-linear>
      <md-list-item ng-repeat="room in vm.rooms" class="md-body-1" ng-click="vm.join(room)">
        <p class="md-primary">{{room.name}}</p>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <md-subheader>Buddies</md-subheader>
      <md-list-item ng-repeat="friend in vm.friends" ng-click="noop();">
        <p>{{friend.username}}</p>

        <md-menu>
          <md-button class="md-icon-button" ng-click="vm.openFriendMenu($mdOpenMenu, $event);">
            <ng-md-icon md-menu-origin icon="more_vert"></ng-md-icon>
          </md-button>

          <md-menu-content>
            <md-menu-item>
              <md-button>Remove</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-md ng-click="vm.toggleMainSidenav();">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3>{{vm.$state.current.data.title}}</h3>
      </div>
    </md-toolbar>

    <ui-view layout="column" flex></ui-view>
  </div>
</div>
