<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="main-sidenav-left" md-is-locked-open="true">
    <md-toolbar class="md-tall md-hue-2" layout-padding>
      <h1>Welcome</h1>
    </md-toolbar>

    <md-list>
      <md-subheader>Rooms</md-subheader>
      <md-progress-linear ng-show="vm.progress.rooms" md-mode="indeterminate" layout-padding></md-progress-linear>
      <md-list-item ng-repeat="room in vm.rooms" class="md-body-1" ng-click="vm.noop()">
        <p class="md-primary">{{room.name}}</p>
      </md-list-item>
      <md-divider ng-hide="vm.progress.rooms"></md-divider>
      <md-list-item ng-hide="vm.progress.rooms" ng-click="vm.triggerCreateRoomDialog($event);">
        <md-icon md-font-icon="fa-plus" class="fa"></md-icon>
        <p>Create Room</p>
      </md-list-item>

      <md-subheader>Buddies</md-subheader>
    </md-list>
  </md-sidenav>
</div>
