<div layout="column" flex>
  <md-content class="chat-messages-content" flex>
    <md-list class="chat-messages-list">
      <md-list-item ng-repeat="m in roomVm.messages" ng-click="roomVm.triggerUserDialog(m, $event);">
        <div class="md-list-item-text">
          <h3>{{m.username}} <span class="chat-messages-list-date">{{m.sentTs | date:'hh:mm'}}</span></h3>

          <p>{{m.message}}</p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

  <form name="roomVm.sendMessageForm" class="chat-form">
    <md-input-container layout="row" class="md-whiteframe-z3" md-no-float>
      <div class="textarea-wrapper" flex-order="1">
        <textarea rows="1" ng-model="roomVm.message" placeholder="Chat in {{vm.$state.current.data.title}}..."></textarea>
      </div>
      <md-button flex-order="2" type="submit" ng-disabled="roomVm.$invalid" ng-click="roomVm.sendMessage();">
        <ng-md-icon icon="send"></ng-md-icon>
      </md-button>
    </md-input-container>
  </form>
</div>
