.chat-messages-content {
  height: 0;
  overflow-y: auto;
  flex: 1 1 auto;
}

.chat-messages-list {
  padding-top: 0;

  md-list-item > .md-avatar:first-child, md-list-item .md-list-item-inner > .md-avatar:first-child {
    margin-right: 20px;
    flex-shrink: 0;
    margin-top: 0;
  }

  .chat-messages-list-date {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #99aab5;
    margin-left: 5px;
  }

  md-list-item,
  md-list-item .md-list-item-inner {
    align-items: flex-start;
  }

  md-list-item .md-list-item-inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .md-clickable > .md-button {

  }

  .md-list-item-text {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 0;
    }

    p {
      line-height: 20px;
      font-size: 14px;
      margin-top: 6px;
      margin-bottom: 0;
    }

    word-wrap: break-word;
    word-break: break-all;
  }
}

.chat-form {
  md-input-container {
    padding-bottom: 0;
  }

  .textarea-wrapper {
    width: 100%;
    padding: 20px 0 10px 0;
  }

  .md-input {
    font-size: 14px;
    line-height: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    width: 100%;
    max-height: 144px;
    box-sizing: border-box;
    border-bottom: 0;
  }

  md-input-container.md-input-focused {
    .md-input {
      border-bottom: 0;
    }
  }

  .md-button {
    margin: 0;
  }
}
